/*
    optimal-work-utility v1.0.0

    by Ryan E. Anderson

    Copyright (C) 2018-2019
 */

@font-face {
    font-family: roboto;
    src: url("./../font/Roboto-Regular.ttf");
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.618em;
    background-color: #07324c;
    min-width: 300px;
}

h1.golden-header,
h2.golden-header,
h3.golden-header,
h4.golden-header,
h5.golden-header,
h6.golden-header {
    line-height: 1.618em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

a:link {
    color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    border: 1px solid #fff;
}

a:active {
    border: 1px solid #fff;
}

a.underline-link {
    text-decoration: underline;
}

form {
    margin-bottom: 16px;
}

fieldset {
    border: 1px solid #ddd;
}

input:-moz-read-only {
    color: #fff;
    background-color: #062a40;
}

input:read-only {
    color: #fff;
    background-color: #062a40;
}

input::placeholder {
    color: #ddd;
    text-transform: capitalize;
}

#wrapper {
    width: 75%;
    padding: 32px;
    margin: 0 auto;
    color: #fff;
    background-color: #052233;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.error {
    color: #fff;
    background-color: #ff0000;
    padding: 0 8px;
}

.warning {
    color: #000;
    background-color: #ffff00;
    padding: 0 8px;
}

.success {
    color: #000;
    background-color: #00ff00;
    padding: 0 8px;
}

form.form {
    display: block;
}

.form-group {
    width: 46%;
    padding: 2%;
    float: left;
    clear: right;
}

.form-group-vertical {
    width: 96%;
    padding: 2%;
    float: left;
    clear: right;
}

.form-control {
    margin-top: 8px;
    clear: both;
    text-align: right;
}

.form-input-horizontal {
    display: block;
    width: 71%;
    line-height: 1em;
    padding: 8px 2%;
    margin-bottom: 4px;
    color: #000;
    border: 1px solid #eee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-input-vertical-radio {
    display: inline;
}

label.form-label-horizontal {
    display: block;
    margin: 8px 0;
    line-height: 1.618em;
    width: 75%;
    text-align: left;
}

label.form-label-vertical-radio {
    display: inline;
}

button.form-button-right {
    padding: 8px 8px;
    margin-top: 8px;
    color: #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

button.primary-button {
    background-color: #1485cc;
    border: 1px solid #1485cc;
}

button.secondary-button {
    background-color: #0e5b8c;
    border: 1px solid #0e5b8c;
}

button.tertiary-button {
    color: #1485cc;
    background-color: #fff;
    border: 1px solid #fff;
}

.fine-print {
    margin-left: 8px;
}

@media (min-device-width: 0px)
and (max-device-width: 720px)
and (-webkit-min-device-pixel-ratio: 2) {
    .form-group,
    .form-label-horizontal,
    .form-input-horizontal,
    select {
        width: 96%;
    }

    .fine-print {
        text-align: center;
        margin-left: 0;
    }
}