<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Add Worker</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Add Worker</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Step 3a:</u></h4>
                    <p th:inline="text">Use the form to add a worker to project [[${project.projectName}]].</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="add-worker-form"
                          method="POST"
                          class="form"
                          th:action="@{/add}"
                          th:object="${addWorkerFormViewModel}">
                        <fieldset>
                            <legend>Add Worker Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="first-name">First Name:</label>
                                    <input type="text"
                                           id="first-name"
                                           name="first-name"
                                           placeholder="enter first name"
                                           class="form-input-horizontal"
                                           title="This is the first name of the worker."
                                           required
                                           th:field="*{worker.firstName}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="last-name">Last Name:</label>
                                    <input type="text"
                                           id="last-name"
                                           name="last-name"
                                           class="form-input-horizontal"
                                           placeholder="enter last name"
                                           title="This is the last name of the worker."
                                           required
                                           th:field="*{worker.lastName}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="employee-identifier">Employee Identifier:</label>
                                    <input type="number"
                                           id="employee-identifier"
                                           name="employee-identifier"
                                           class="form-input-horizontal"
                                           min="0"
                                           placeholder="enter employee identifier"
                                           title="This is the identifier of the employee; its value is set to the size of the worker list plus one."
                                           readonly
                                           th:field="*{worker.employeeIdentifier}"/>
                                </div>
                                <div class="form-group">
                                    <label for="age"
                                           class="form-label-horizontal">Age:</label>
                                    <input type="number"
                                           id="age"
                                           name="age"
                                           class="form-input-horizontal"
                                           min="14"
                                           onchange="formatIntegerNumber(this)"
                                           placeholder="enter age"
                                           title="This is the age of the worker; it must be greater than or equal to fourteen."
                                           required
                                           th:field="*{worker.age}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="wage">Wage (USD):</label>
                                    <input type="number"
                                           id="wage"
                                           name="wage"
                                           class="form-input-horizontal"
                                           min="7.25"
                                           step="0.01"
                                           onchange="formatDecimalNumber(this)"
                                           placeholder="enter wage"
                                           title="This is the hourly wage that this worker can earn."
                                           required
                                           th:field="*{worker.wage}"/>
                                </div>
                                <fieldset>
                                    <legend>Gender</legend>
                                    <div th:each="gender, i: *{genders}" class="form-group-vertical">
                                        <input type="radio"
                                               class="form-input-vertical-radio"
                                               th:title="'Select ' + ${gender.name().charAt(0)} + ${gender.name().substring(1).toLowerCase()} + ' as the gender of the worker.'"
                                               th:id="gender + '-' + ${i.count}"
                                               th:field="*{worker.gender}"
                                               th:value="${gender}"/>
                                        <label class="form-label-vertical-radio"
                                               th:for="gender + '-' + ${i.count}"
                                               th:text="${gender.description}"></label>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="job-title">Job Title:</label>
                                    <input type="text"
                                           id="job-title"
                                           name="job-title"
                                           class="form-input-horizontal"
                                           placeholder="enter job title"
                                           title="This is the job title of the worker."
                                           required
                                           th:field="*{worker.jobTitle}"/>
                                </div>
                            </fieldset>
                            <div class="form-control">
                                <button id="cancel-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="cancel()">Cancel
                                </button>
                                <button id="back-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="goBack()">Back
                                </button>
                                <button id="clear-button"
                                        type="button"
                                        class="form-button-right secondary-button"
                                        onclick="clearForm()">Clear
                                </button>
                                <button id="reset-button"
                                        type="reset"
                                        class="form-button-right secondary-button">Reset
                                </button>
                                <button id="add-button"
                                        type="submit"
                                        class="form-button-right primary-button">Add
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }

    function goBack() {
        history.back();
    }

    function clearForm() {
        const form = document.querySelector("form");
        const valueInputs = form.querySelectorAll("input[type='text'], input[type='number']");
        const valueInputCount = valueInputs.length;

        for (let i = 0; i < valueInputCount; i++) {
            valueInputs[i].value = "";
        }
    }

    function formatDecimalNumber(element) {
        element.value = parseFloat(element.value).toFixed(2);

        return false;
    }

    function formatIntegerNumber(element) {
        element.value = parseInt(element.value.toString());

        return false;
    }
</script>
</body>
</html>