<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Calculation</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Calculation</h3>
            <hr>
            <article>
                <div>
                    <h4 class="golden-header"><u>Step 5:</u></h4>
                    <p>Analyze the calculation of work pay in relation to a budget.</p>
                    <hr>
                    <h5 class="golden-header">Result</h5>
                    <p><u>Note:</u> The calculation is based on hours that were allotted at the beginning of the
                        project.</p>
                    <h6 class="golden-header">Comparison</h6>
                    <p>Below is the ordinal relation between the potential work pay and budget.</p>
                    <p th:if="${calculationViewModel.getIsExcessivePay()}" th:inline="text">
                        P&nbsp;=&nbsp;(H&nbsp;+&nbsp;1.5&nbsp;&times;&nbsp;E)&nbsp;&times;&nbsp;&sum;&nbsp;R<sub>i</sub>&nbsp;=&nbsp;[[${calculationViewModel.getFormattedPay()}]]<span
                            class="error">&nbsp;&gt;&nbsp;</span>[[${calculationViewModel.getFormattedBudget()}]]&nbsp;=&nbsp;B
                    </p>
                    <p th:unless="${calculationViewModel.getIsExcessivePay()}" th:inline="text">
                        P&nbsp;=&nbsp;(H&nbsp;+&nbsp;1.5&nbsp;&times;&nbsp;E)&nbsp;&times;&nbsp;&sum;&nbsp;R<sub>i</sub>&nbsp;=&nbsp;[[${calculationViewModel.getFormattedPay()}]]<span
                            class="success">&nbsp;&le;&nbsp;</span>[[${calculationViewModel.getFormattedBudget()}]]&nbsp;=&nbsp;B
                    </p>
                    <p>The comparison between work pay and budget is P&nbsp;&frasl;&nbsp;B&nbsp;=&nbsp;[[${calculationViewModel.getFormattedMoneyRatio()}]].</p>
                    <h6 class="golden-header">Total Allotted Hours</h6>
                    <p th:inline="text">The total number of hours that will be allotted for this project is
                        [[${calculationViewModel.getFormattedTotalAllottedHours()}]].</p>
                    <h6 class="golden-header">Total Available Hours</h6>
                    <p th:inline="text">The total number of available hours between
                        [[${calculationViewModel.getProject().getStartDate()}]] and
                        [[${calculationViewModel.getProject().getEndDate()}]] is
                        [[${calculationViewModel.getFormattedTotalAvailableHours()}]].</p>
                    <h6 class="golden-header">Hour Ratio</h6>
                    <p>The comparison between total allotted hours and total available hours is
                        [[${calculationViewModel.getFormattedHourRatio()}]].</p>
                    <hr>
                    <h5 class="golden-header">Start Over</h5>
                    <p>Click <a href="/" class="underline-link">here</a> to return to the first step.</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }

    function goBack() {
        history.back();
    }
</script>
</body>
</html>