<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Create Project</title>
</head>
<body onload="formatDecimalNumbers(document.getElementById('budget'), document.getElementById('hours'))">
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Create Project</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Step 2:</u></h4>
                    <p>Use the form to create a project by adding a name and providing constraints.</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="add-worker-form"
                          method="POST"
                          class="form"
                          th:action="@{/addWorker}"
                          th:object="${project}">
                        <fieldset>
                            <legend>Create Project Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="project-name">Project Name:</label>
                                    <input type="text"
                                           id="project-name"
                                           name="project-name"
                                           class="form-input-horizontal"
                                           placeholder="enter project name"
                                           title="This is the name of the project."
                                           required
                                           th:field="*{projectName}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="budget">Budget (USD):</label>
                                    <input type="number"
                                           id="budget"
                                           name="budget"
                                           class="form-input-horizontal"
                                           min="0"
                                           step="0.01"
                                           onchange="formatDecimalNumbers(this)"
                                           placeholder="enter budget"
                                           title="This is the budget for the project."
                                           required
                                           th:field="*{budget}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="hours">Hours:</label>
                                    <input type="number"
                                           id="hours"
                                           name="hours"
                                           class="form-input-horizontal"
                                           min="1"
                                           step="any"
                                           onchange="formatDecimalNumbers(this)"
                                           placeholder="enter hours"
                                           title="This is the number of hours allotted to each worker."
                                           required
                                           th:field="*{hours}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="overtime-hours">Overtime Hours:</label>
                                    <input type="number"
                                           id="overtime-hours"
                                           name="overtime-hours"
                                           class="form-input-horizontal"
                                           min="0"
                                           step="any"
                                           onchange="formatDecimalNumbers(this)"
                                           placeholder="enter overtime hours"
                                           title="This is the number of overtime hours allotted to each worker (This value is not inclusive.)."
                                           required
                                           th:field="*{overtimeHours}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="start-date">Start Date:</label>
                                    <input type="datetime-local"
                                           id="start-date"
                                           name="start-date"
                                           class="form-input-horizontal"
                                           title="This is the start date and time of the project."
                                           required
                                           th:field="*{startDate}"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="end-date">End Date:</label>
                                    <input type="datetime-local"
                                           id="end-date"
                                           name="end-date"
                                           class="form-input-horizontal"
                                           title="This is the due date and time of the project."
                                           required
                                           th:field="*{endDate}"/>
                                </div>
                            </fieldset>
                            <div class="form-control">
                                <button id="cancel-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="cancel()">Cancel
                                </button>
                                <button id="back-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="goBack()">Back
                                </button>
                                <button id="clear-button"
                                        type="button"
                                        class="form-button-right secondary-button"
                                        onclick="clearForm()">Clear
                                </button>
                                <button id="reset-button"
                                        type="reset"
                                        class="form-button-right secondary-button">Reset
                                </button>
                                <button id="create-button"
                                        type="submit"
                                        class="form-button-right primary-button">Create
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }

    function goBack() {
        history.back();
    }

    function formatDecimalNumbers(...elements) {
        for (let i = 0; i < elements.length; i++)
            elements[i].value = parseFloat(elements[i].value).toFixed(2);

        return false;
    }

    function clearForm() {
        const form = document.querySelector("form");
        const valueInputs = form.querySelectorAll("input[type='text'], input[type='number'], input[type='datetime-local']");
        const valueInputCount = valueInputs.length;

        for (let i = 0; i < valueInputCount; i++) {
            valueInputs[i].value = "";
        }
    }
</script>
</body>
</html>