<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Error</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Error</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Form Processing Error</u></h4>
                    <p>Click the button to return to the first step.</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="error-form"
                          class="form">
                        <fieldset>
                            <legend>Error Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                            </fieldset>
                            <div class="form-control">
                                <button id="cancel-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="cancel()">Cancel
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }
</script>
</body>
</html>