<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Utility</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Utility</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Step 1:</u></h4>
                    <p>Use the form below to select the type of operation to be performed on a list of workers.</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="operate-form"
                          method="POST"
                          class="form"
                          th:action="@{/operate}"
                          th:object="${operationFormViewModel}">
                        <fieldset>
                            <legend>Operation Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                                <div id="operation-wrapper" class="form-group">
                                    <label for="operation"
                                           class="form-label-horizontal">Operation:</label>
                                    <select id="operation"
                                            name="operation"
                                            class="form-input-horizontal"
                                            onchange="autoSubmit()"
                                            title="This is the operation that will be performed to maintain a project."
                                            th:field="*{operation}">
                                        <option value="NONE"
                                                label="Select an operation:"></option>
                                        <option th:each="operation : *{operations}"
                                                th:value="${operation}"
                                                th:text="${operation.description}"></option>
                                    </select>
                                    <p th:if="${project.projectName.isEmpty()}"
                                       class="warning">
                                        <u>Warning:</u> A project does not exist. Please, create a project before
                                        attempting to add or remove workers.
                                    </p>
                                </div>
                            </fieldset>
                        </fieldset>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function autoSubmit() {
        const form = document.querySelector("form");
        const list = document.querySelector("#operation");
        const selectedItem = list.options[list.selectedIndex];

        if (selectedItem.value === "NONE")
            return;

        form.submit();
    }
</script>
</body>
</html>