<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | List Workers</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">List Workers</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Step 4:</u></h4>
                    <p>After reviewing workers, use the form below to calculate potential work pay; its value can be
                        analyzed in relation to a budget.</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="list-workers-form"
                          method="POST"
                          th:action="@{/calculate}"
                          th:object="${project}"
                          class="form">
                        <fieldset>
                            <legend>List Workers Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                            </fieldset>
                            <div class="form-control">
                                <button id="cancel-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="cancel()">Cancel
                                </button>
                                <button id="back-button"
                                        type="button"
                                        class="form-button-right tertiary-button"
                                        onclick="goBack()">Back
                                </button>
                                <button id="confirm-button"
                                        type="submit"
                                        class="form-button-right primary-button">Confirm
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <h5 class="golden-header">Workers</h5>
                    <ul>
                        <li th:each="worker : *{project.workers}">
                            <div>
                                <p th:text="${worker.toString()}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }

    function goBack() {
        history.back();
    }
</script>
</body>
</html>