<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Optimal Work Utility | Remove Worker</title>
</head>
<body>
<div id="wrapper">
    <header>
        <h1 class="golden-header"><a href="/">Optimal Work Utility</a></h1>
        <h2 class="golden-header">v1.0.0</h2>
    </header>
    <main>
        <section>
            <h3 class="golden-header">Remove Worker</h3>
            <hr>
            <article>
                <div class="form-section-wrapper">
                    <h4 class="golden-header"><u>Step 3b:</u></h4>
                    <p>Use the form to remove a worker.</p>
                    <hr>
                    <h5 class="golden-header">Form</h5>
                    <form id="add-worker-form"
                          method="POST"
                          class="form"
                          th:action="@{/remove}"
                          th:object="${removeWorkerFormViewModel}">
                        <fieldset>
                            <legend>Remove Worker Form</legend>
                            <fieldset>
                                <legend>Parameters</legend>
                                <div class="form-group">
                                    <label class="form-label-horizontal"
                                           for="employee-identifier">Employee Identifier:</label>
                                    <input type="number"
                                           id="employee-identifier"
                                           name="employee-identifier"
                                           class="form-input-horizontal"
                                           min="0"
                                           placeholder="enter employee identifier"
                                           title="This is the identifier of the employee that should be removed."
                                           th:field="*{worker.employeeIdentifier}"/>
                                </div>
                                <div class="form-control">
                                    <button id="cancel-button"
                                            type="button"
                                            class="form-button-right tertiary-button"
                                            onclick="cancel()">Cancel
                                    </button>
                                    <button id="back-button"
                                            type="button"
                                            class="form-button-right tertiary-button"
                                            onclick="goBack()">Back
                                    </button>
                                    <button id="clear-button"
                                            type="button"
                                            class="form-button-right secondary-button"
                                            onclick="clearForm()">Clear
                                    </button>
                                    <button id="reset-button"
                                            type="reset"
                                            class="form-button-right secondary-button">Reset
                                    </button>
                                    <button id="add-button"
                                            type="submit"
                                            class="form-button-right primary-button">Remove
                                    </button>
                                </div>
                            </fieldset>
                        </fieldset>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="fine-print">
            <p>
                <small>
                    Copyright &copy; 2018-2019 Ryan Anderson
                </small>
            </p>
        </div>
    </footer>
</div>
<script>
    function cancel(uri = '') {
        window.location = "/" + uri;

        return false;
    }

    function goBack() {
        history.back();
    }

    function clearForm() {
        const form = document.querySelector("form");
        const valueInputs = form.querySelectorAll("input[type='number']");
        const valueInputCount = valueInputs.length;

        for (let i = 0; i < valueInputCount; i++) {
            valueInputs[i].value = "";
        }
    }
</script>
</body>
</html>